.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
field_boneyard
marmap_coord_-78;37;-64;43_res_1.csv
marmap_coord_123;9;124;12_res_1.csv
marmap_coord_123;9;125;12_res_0.5.csv
marmap_coord_123;9;125;12_res_1.csv
marmap_coord_124;10.5;125;11_res_0.01.csv
supplemental files
GIS
field_protocols_md
